{% extends 'base.html.twig' %}

{% block importJS %}
{% endblock %}

{% block title %}5Project - Administration{% endblock %}

{% block body %}

<main role="main" class="container-fluid">

  <div class=".container-fluid">
  <div class="row">
    <div class="col-3">
      <div class="p-3 mb-2 bg-info text-white"><h2>Administration</h2></div>
        <p><h4>Utilisateurs</h4></p>
        <p><?php
if (isset($_SESSION['login'])) {
  echo 'Utilisateur : ' . $_SESSION['login'];
}?></p>User : {{ login }} - {{ app.session.get('login') }}
    <p><a href="index.php?action=logout">Se déconnecter</a></p>
    <p><a href="index.php?action=gestionU">Gérer les utilisateurs</a></p>
    <p><a href="index.php?action=creationUser">Créer un utilisateur</a></p>
    </div>

    <div class="col-9">
      <div class="p-3 mb-2 bg-info text-white"><h2>Informations</h2></div>

<p><h4>Serveur</h4></p>
<ul>
<li>Système : {{ sys }}</li>
<li>Serveur : {{ host }}</li>
<li>Architecture : {{ arch }}</li>
<li>Version de PHP : {{ php }}</li>
<li>Mail administrateur : {{ mail }}</li>
<li>I.P. du serveur : {{ servAdd }}</li>
<li>Domaine : {{ servHost }}</li>
</ul>

<p><h4>Visiteur</h4></p>
    <ul>
    <li><div id="browser">
    </div>
    </li>
    <li>Langue : {{ visitorLang }}</li>
    
</ul>
    </div>
    
   </div>
   </div>

</main>

{% block js %}
    <script src="js/date.js"></script>
    <script src="js/browser.js"></script>
{% endblock %}

  </div>
  </div>
    
{% endblock %}