{% extends 'base.html.twig' %}

{% block importJS %}
{% endblock %}

{% block title %}5Project - Administration{% endblock %}

{% block content %}

<main role="main" class="container-fluid">

  <div class=".container-fluid">
  <div class="row">


      <div class="col-sm-4 p-4">
      <div id="side">
      <h2>Administration</h2>
      <p><h4>Utilisateurs</h4></p>
<p>
{% if session.login is defined and session.login is not null%}
<i class="fas fa-address-card"></i> : {{ session.login }}
{% endif %}
</p>

    <p><a href="index.php?action=logout">Se déconnecter</a></p>
    <p><a href="index.php?action=gestionU">Gérer les utilisateurs</a></p>
    <p><a href="index.php?action=creationUser">Créer un utilisateur</a></p>
    


<div class="styleC">
<h3>Thème</h3>
<form action="index.php?action=styleT" method="post">
<div class="form-group">
<label>Couleur du thème</label>
<select id="style" name="style">
  <option value="blue" name="blue" >Bleu</option>
  <option value="green" name="green">Vert</option>
</select>
<div class="form-check">
    <button type="submit" class="btn btn-primary">Valider</button>
</div>
</div>
</form>
</div>

</div>
</div>

      <div class="col-sm-8 p-4">
      <div id="cont">
      <h2>Informations</h2>

<p><h4>Serveur</h4></p>
<ul>
<li>Système : {{ sys }}</li>
<li>Serveur : {{ host }}</li>
<li>Architecture : {{ arch }}</li>
<li>Version de PHP : {{ php }}</li>
<li>Mail administrateur : {{ mail }}</li>
<li>I.P. du serveur : {{ servAdd }}</li>
<li>Domaine : {{ servHost }}</li>
</ul>

<p><h4>Visiteur</h4></p>
    <ul>
    <li><div id="browser">
    </div>
    </li>
    <li>Langue : {{ visitorLang }}</li>
    <li>Position :<br>
    <span id="myPosition">
      </span>
    </li>
    
</ul>
    </div>
    </div>


{% block js %}
    <script src="js/date.js"></script>
    <script src="js/browser.js"></script>
    <script src="js/location.js"></script>
{% endblock %}

  </div>
  </div>
    
  </main>

{% endblock %}