<div class="p-3 bg-info text-white"><h5>ToDo List</h5></div>
<div id="fonct">

<form name="tacheAdd" action="index.php?action=createTodo" method="post">
      <div class="form-group">
        <label for="identifiant">Tâche</label>
          <p><input type="text" name="todo" id="tacheN" placeholder="Tâche à faire" maxlength="70" title="Maximum 70 caractères" onblur="verifTodo(this) required /></p>
          </div>
          <div class="form-check">
          <p><input type="submit" value="Valider" /></p>
          </div>
      </form>

{% for task in todoL %}


{% block task %}
<p><strong>Id :</strong> {{ task.idT }} - <strong>Date :</strong> {{ task.dateT }}</p>
<p><strong>Tâche :</strong>  {{ task.todoT }}</p>
<p><a href="index.php?action=viewEditTask&amp;id={{ task.idT }}">Editer</a> - <a href="index.php?action=deleteTodo&amp;id={{ task.idT }}">Supprimer</a></p>
{% endblock %}

{% endfor %}

{% block page %}
<p><a href="index.php?action=infos&amp;page={{ page - 1 }}"> Précédent </a>
-

{% for i in 1..nombreDePages %}
   <a href="index.php?action=infos&amp;page={{ loop.index }}"> {{ loop.index }}</a>
{% endfor %}

-
<a href="index.php?action=infos&amp;page={{ page + 1 }}"> Suivant </a></p>

{% endblock %}

</div>
