<div class="p-3 bg-danger text-white"><h5><i class="fas fa-clipboard-list"></i> ToDo List</h5></div>
<div id="fonct">

<form name="tacheAdd" action="index.php?action=createTodo" method="post">
      <div class="form-group">
        <label for="identifiant">Ajouter une tâche</label>
          <p><input type="text" name="todo" id="tacheN" placeholder="Tâche à faire" maxlength="70" title="Maximum 70 caractères" required /></p>
          </div>
          <div class="form-check">
          <p><input type="submit" value="Ajouter"/></p>
          </div>
      </form>

<p><h6>Tâches en cours :</h6></p>
{% for todo in allTodo %}
{% block task %}
<p><strong>Id :</strong> {{ todo.idT }} - <strong><i class="far fa-calendar-alt"></i> :</strong> {{ todo.dateT }}</p>
<p><strong>Tâche :</strong>  {{ todo.todoT }}</p>
<p><a href="index.php?action=viewEditTask&amp;id={{ todo.idT }}">Editer</a> - <a href="index.php?action=deleteTodo&amp;id={{ todo.idT }}">Supprimer</a></p>
<hr>
{% endblock %}

{% endfor %}

{% block page %}

<div class="paginate">
<p><a class="pages" href="index.php?action=infos&amp;page={{ page - 1 }}"> < </a>

{% for i in 1..nbrPages %}
<a class="pages" href="index.php?action=infos&amp;page={{ loop.index }}"> {{ loop.index }} </a>
{% endfor %}

<a class="pages" href="index.php?action=infos&amp;page={{ page + 1 }}"> > </a></p>
</div>

{% endblock %}

</div>
