<div class="p-3 bg-info text-white"><h5>ToDo List</h5></div>
<div class="fonct">

<form action="index.php?action=createTodo" method="post">
      <div class="form-group">
          <p>Tâche : <input type="text" name="todo" placeholder="tâche à faire" required /></p>
          </div>
          <div class="form-check">
          <p><input type="submit" value="Valider" /></p>
          </div>
      </form>

{% for task in todoL %}
<div class="task">
<p><strong>Id :</strong> {{ task.idT }} - <strong>Date :</strong> {{ task.dateT }}</p>
<p><strong>Tâche :</strong>  {{ task.todoT }}</p>
<p><a href="index.php?action=viewEditTask&amp;id={{ task.idT }}">Editer</a> - <a href="index.php?action=deleteTodo&amp;id={{ task.idT }}">Supprimer</a></p>
</div>
{% endfor %}


<p><a href="index.php?action=infos&amp;page={{ page - 1 }}">Page précédente</a>
-
<a href="index.php?action=infos&amp;page={{ page + 1 }}">Page suivante</a></p>

</div>
</div>
